body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: block;
}

.vertical { 
    border-left: 3px solid white; 
    height: 800px; 
    margin-right: 25px;
    float: left;
} 

hr.horizontal {
    border: 1px solid white;
    border-radius: 3px;
  }

footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-title {
    color: white;
    text-align: center;
}

.white {
    color: white;
    text-align: center;
}

.title h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)>
}

/* tool tip */
.customToolTip>div {
    display: flex;
    justify-content: center;
}

.customToolTip a.btn span i.fas.fa-chevron-circle-up {
    color: orange;
    font-size: 25px;
}

.customToolTip a.btn span i.fas.fa-chevron-circle-up:hover {
    color: #9ce6f5;
}

/* ==== media queries ===== */
@media only screen and (max-width: 768px) {
    .customNavBg li>a:hover {
        transform: scale(1)
    }

    .circleImage {
        border-color: #34af95;
    }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }