body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: block;
}

.vertical {
    border-left: 3px solid white;
    height: 1000px;
    margin-right: 25px;
    float: left;
}

.verticalLeft {
    border-left: 3px solid white;
    height: 100px;
    margin-right: 5px;
    float: left;
}

hr.horizontal {
    border: 1px solid white;
    border-radius: 3px;
}

footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-title {
    color: white;
    text-align: center;
}

.white {
    color: white;
    text-align: center;
}

.title h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)>
}

/* Tool Tip */

#button {
    display: inline-block;
    background-color: #de672d;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
}

#button:hover {
    cursor: pointer;
    background-color: #9ce6f5;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/* ==== media queries ===== */
@media only screen and (max-width: 768px) {
    .customNavBg li>a:hover {
        transform: scale(1)
    }

    .circleImage {
        border-color: #34af95;
    }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }