body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: white;
    background-color: black;
}


.tm-title {
    color: white;
    text-align: center;
}

.white {
    color: white;
    text-align: center;
}

.title h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}