body {
    background-color: black;
    background-size: cover;
}

.circleImage {
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    align-content: center;
}