.avatar {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    widows: 200px;
    height: 200px;

}

/*skills section */
.skills {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
}

.skills ul {
    color: white;
    padding: 10px;
}

.skills ul li {
    padding-bottom: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.skills h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}

/*Projects */
.projects {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
    text-align: right;
}

.projects h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}

.projects ul li {
    font-family: Arial, Helvetica, sans-serif;
}

.projects button {
    background-color: orange;
    border-radius: 30%;
    border-color: white;
}

.projects button {
    font-family: Arial, Helvetica, sans-serif;
}

/*contact */
.contact {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
    text-align: center;
}
.contact h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
}

/*email */
.email {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
    text-align: center;
}
.email h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}
.email p {
    font-family: Arial, Helvetica, sans-serif;
}


/*githib */
.github {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
    text-align: center;
}

.github h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}

.github p {
    font-family: Arial, Helvetica, sans-serif;
}

/*education */
.education {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
    text-align: left;
}

.education h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}

.education ul {
    color: white;
    padding: 10px;
}

.education p {
    padding-bottom: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*softSkills */
.softSkills {
    background: black;
    box-shadow: 0px 1px 5px white(50, 50, 50, 0.08);
    color: white;
    text-align: right;
}

.softSkills h2 {
    font-family: Potra;
    src: url(https://www.dafont.com/search.php?q=potra)
}

.softSkills ul {
    color: white;
    padding: 10px;
}

.softSkills p {
    padding-bottom: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}