body {
    background-color: black;
}

.avatar {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    widows: 200px;
    height: 200px;

}