/*body */
.body {
    padding: 15px;
}

/*parent */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*logo */
.logo {
    height: 25px;
    width: 50%;
}

/*avatar */
.avatarlogo {
    margin-left: 20px;
}


/* header */
.header {
    grid-area: 1 / 1 / 3 / 6;
    padding: 10px;
    margin-right: 200px;
}

.header h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 45pt;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    color: #de672d;
    text-align: center;
    font-style: italic;
    margin-right: 300px;
    font-size: 16pt;
    margin-top: -10px;
}

/*--------------MIDDLE------------------*/
.middleSec {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
}

/*--------------LEFT SIDE-----------*/
/* contact */
.contact {
    grid-area: 3 / 1 / 9 / 3;
    /*transform: rotate(-90deg); */
    margin-right: 200px;
}

.contact h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    color: #9ce6f5;
    font-size: x-large;
    margin-left: 35px;
    /*transform: rotate(-90deg); */
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 35px;
    /*transform: rotate(-90deg); */
}

.contactHeader h1 {
    transform: rotate(-90deg);
    margin-top: 110px;
    margin-left: 120px;
}

.phoneLogo {
    height: 15px;
    width: auto;
    margin-top: 35px;
}

.phoneLink p {
    color: white;
    margin-left: 35px;
    transform: rotate(-90deg);
    margin-top: 25px;
}

.phoneLink:hover p {
    color: #de672d
}

/*email */
.email {
    margin-right: 200px;
    /*transform: rotate(-90deg); */

}

.emailHeader h1 {
    transform: rotate(-90deg);
    margin-top: 25px;
    margin-right: -180px;
}

.email h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    color: #9ce6f5;
    font-size: x-large;
    margin-left: 35px;
    /*transform: rotate(-90deg); */
}

.emailLink p {
    color: white;
    margin-left: 35px;
    transform: rotate(-90deg);
    margin-top: 25px;
}

.emailLink:hover p {
    color: #de672d
}

.emailLogo {
    width: 15px;
    height: auto;
    margin-top: 55px;
}

/*github */
.github {
    margin-right: 200px;
    /*transform: rotate(-90deg); */

}

.githubHeader h1 {
    transform: rotate(-90deg);
    margin-top: 1px;
    margin-right: -180px;
}

.github h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    color: #9ce6f5;
    font-size: x-large;
    margin-left: 35px;
    /*transform: rotate(-90deg); */
}

.github p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 35px;
    transform: rotate(-90deg);
    /*transform: rotate(-90deg); */
}

.githubLink p {
    color: white;
    margin-left: 35px;
}

.githubLink:hover p {
    color: #de672d
}

.githubLogo {
    margin-top: 35px;
}


/*---------------RIGHT SIDE---------------*/
/* design skills */
.skills {
    grid-area: 3 / 3 / 5 / 6;
    margin-top: 55px;
    /*transform: rotate(-90deg); */
}

.skills h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    font-size: x-large;
    color: #9ce6f5;
    transform: rotate(-90deg);
    margin-top: 80px;
}

.adobeSkills {
    width: 300px;
    height: auto;
}

.codeSkills {
    width: 300px;
    height: auto;
}

.typeSkills {
    width: 300px;
    height: auto;
}


.subText {
    color: white;
    margin-top: 15px;
    font-size: large;
}

/*education */
.education {
    grid-area: 5 / 3 / 7 / 6;
    margin-top: 50px;
    /*transform: rotate(-90deg); */
}

.education h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    font-size: x-large;
    color: #9ce6f5;
    transform: rotate(-90deg);
}

.education h5 {
    color: #de672d;
    font-size: 15pt;
}

.eduYears {
    color: white;

}

.eduYears p {
    color: white;
    font-style: italic;
}

.eduPara p {
    color: white;
    font-style: normal;
    font-size: 11pt;
}

.education p {
    color: white;
}

/*soft skills */
.softSkills {
    grid-area: 7 / 3 / 9 / 6;
    margin-top: 35px;
    /*transform: rotate(-90deg); */
}

.softSkills h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    font-size: x-large;
    color: #9ce6f5;
    transform: rotate(-90deg);
    margin-top: 50px;
}

.softSkills ul {
    color: white;
    font-size: 10pt;
    margin-left: -30px;
}

/*Projects */
.projects {}

.projects h1 {
    font-family: Potra;
    src: url(https://www.dafont.com/potra.font);
    font-size: x-large;
    color: #9ce6f5;
    transform: rotate(-90deg);
    margin-top: 80px;
}

.projects ul {
    color: white;
    margin-left: 95px;
    margin-top: -50px;
    font-size: 10pt;
}

.projectImg {
    margin-top: 50px;
}

/*footer */